<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
{% if msg is not none %}
<span class="info">
    {{ msg }}
</span>
{% endif %}
<form action="{{ api_url }}" method="GET" class="form open">
    <label>
        <input type="submit" value="open" class="btn btn-primary btn-large btn-block btn-open open">
        <input type="hidden" id="api-key" name="api-key" value="{{ api_key }}">
        <input type="hidden" id="actor-id" name="actor-id" value="{{ actor_id }}">
    </label>
    <script>
        // Define the API URL
        // const apiUrl = {{ api_url }};

        // Make a GET request
        {#fetch(apiUrl)#}
        {#  .then(response => {#}
        {#    if (!response.ok) {#}
        {#      throw new Error('Network response was not ok');#}
        {#    }#}
        {#    return response.json();#}
        {#  })#}
        {#  .then(data => {#}
        {#    console.log(data);#}
        {#  })#}
        {#  .catch(error => {#}
        {#    console.error('Error:', error);#}
        {#  });#}



    </script>
</form>
</body>
</html>
